<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Editar pessoa</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
  </head>
  <body>

    <div class="d-flex p-2 bd-highlight">
      <table>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">NOME</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <th scope="row">{{ pessoa.id }}</th>
                <td>{{ pessoa.nome }} </td>
              </tr>
          </tbody>
        </table>  
      </div>
        <div class="d-flex p-2 bd-highlight">
      <form action="{% url 'update' pessoa.id %}" method="POST">
        {% csrf_token %}
        <input type="text" name="nome" value="{{pessoa.nome}}" class="form-control form-control-sm">
        <button type="submit" class="btn btn-primary">Editar</button>
      </form>
    </div>

  </body>
</html>